.suggest-icon {
    color: white !important;
    font-size: 20px;
}

.suggest-button {
    width: 57px;
    height: 57px;
    padding: 0;
}

.artist-image {
    display: flex;
    align-self: center;
    height: 174px;
    width: 174px;
}

.artist-image-container {
    max-width: 174px;
    display: flex;
    flex-direction: column;
    min-height: 230px;
}

.artist-image-container-container {
    display: flex;
    justify-content: center;
}

.unknown-artist {
    align-self: center;
    align-items: center;
    display: flex !important;
    flex-direction: column;
    flex: 1;
}

.image-loader {
    align-self: center;
}

.artist-list {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
}

.dialog-content {
    width: fit-content !important;
}

.dialog-body {
    padding-bottom: 0;
    overflow-Y: scroll !important;
}

.artist-picker-container {
    display: flex;
    align-items: center;
}

.artist-name {
    text-align: center;
    margin-top: 8px;
}

.artist-list-item-container {
    flex-grow: 1;
    min-width: 25%;
}

.artist-list-item, .artist-list-item-selected {
    justify-content: center;
    display: flex;
    font-size: 14px;
}

.artist-list-item-selected {
    background-color: #55d680 !important;
}