.playlist-control {
    height: 28px !important;
    background-color: #ffcfde !important;
    top: 42px;
}

.playlist-control-icon {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.4) !important;
}

.playlist-control-buttons {
}

.playlist-control-title {
    padding-left: 5px;
}