.playing {
    margin: 5px;
    padding: 3px;
    border: 1px solid #222222;
    border-radius: 25%;
    font-size: 11px;
}

.playlist-item {
    background-color: #c9d0db;
    border-bottom: 1px solid rgba(33,33,33,0.1);
    cursor: pointer;
    font-size: 18px;
    height: 28px;
}