.player-container {
    bottom: 70px;
    position: fixed;
    right: 20px;
    top: auto;
}

.footer {
    margin-top: 26px,
}

.page-content {
    padding: 0;
    margin: 70px 0 0;
}

.playlist-empty {
    margin: 10px 10px 10px;
}

.playlist-wrapper {
    margin-bottom: 26px;
}

.spinner-container {
    display: flex;
    justify-content: center;
}

.spinner-inner {
    position: absolute;
    top: 40%;
}

.player-try-container {
    background-color: #ccc;
}

.app-container {
}

.header-container {
    width: 100%;
    height: 70px;
    left: 0;
    position: fixed;
    top: 0;
}