.suggest-root {
    padding-top: 10px;
    width: fit-content;
}

.suggest-root > div {
    display: flex;
    flex-direction: row-reverse;
}

.search-error {
    color: black;
    background-color: #fff;
    padding: 17px 13px 10px 13px;
    font-size: 14px;
}

.search-icon-error {
    color: black;
    font-size: 14px !important;
}

.search-button-error {
    height: 26px !important;
    width: 28px !important;
    padding: 0 !important;
}

.suggest-wrapper {
    align-items: center;
    display: flex;
}

.suggest-text {
    padding-right: 10px;
}

.suggest-button-wrapper {
    cursor: pointer;
}

.suggest-close-button {
    height: 26px !important;
    width: 28px !important;
    padding: 0 !important;
}